@import "https://fonts.googleapis.com/css?family=Raleway";

@import "https://db.onlinewebfonts.com/c/38d41072aa88a50711d4d50dd0d50f6b?family=Neue+Machina+Regular";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #F2F2F2;
    font-size: 20px;
    font-family: "Raleway";
    color: #000;
}

body.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

/* Blocks*/
header {
    width: 100%;
    height: 64px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #F2F2F2;
}

.header__logo {
    width: 20%;
    font-family: "Neue Machina";
    font-weight: 700;
    font-size: 1.8em;
    line-height: 1.7em;
}

@media (max-width: 320px) {
    .header__logo {
        width: 50%;
        font-size: 1.2em;
        text-align: center;
    }
}

.nav {
    width: 40%;
    height: 100%;
}

@media (max-width: 320px) {
    .nav {
        display: none;
    }
}

.nav__list {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.nav__item {
    position: relative;
}

.nav__item:hover > .subnav {
    display: block;
}

.nav__link {
    display: block;
    font-weight: 500;
    color: #000;
    line-height: calc(64px - 8px);
    margin: 0.7em 0.5em 0.5em 0.5em;
}
/*.nav__link:nth-child(1) {
	border-bottom: 4px solid $black;
}*/
.subnav {
    display: none;
    position: absolute;
    width: 290px;
    top: 90%;
    left: 0;
    z-index: 2;
}

.subnav li {
    margin: 0.25em;
}

.subnav a {
    color: #FFF;
}

.header__contact {
    width: 30%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 320px) {
    .header__contact {
        display: none;
    }
}

.header__icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header__icon img {
    margin: 0.25em;
    cursor: pointer;
}

.welcome__block {
    width: 100%;
    height: calc(100vh - 64px);
    background: #FFF;
    border-radius: 0 0 1.6em 1.6em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.welcome__img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.welcome__img--rotate {
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.welcome__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.6em;
}

.has-choose {
    border: 2px solid #000;
    border-radius: 1em;
    padding: 0.2em 1.3em;
    gap: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    cursor: pointer;
}

.has-choose--modal {
    font-size: 1em;
    line-height: 1em;
    margin: 0.15em 0.25em;
    padding: 0.4em 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 5;
    background: #F2F2F2;
    overflow: visible;
}

.modal.show {
    display: -ms-flexbox;
    display: flex;
}

.modal__content {
    position: relative;
    max-width: 33.8em;
    padding: 1em;
    background: #FFF;
    border-radius: 1.6em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.modal__content h1 {
    width: 50%;
}

.modal__content p {
    margin: 0.5em 0;
}

.modal__content button {
    margin-top: 0.5em;
}

.modal__close {
    position: absolute;
    right: 1em;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #000;
    border-radius: 0.4em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: 0.15s ease;
}

.modal__close img {
    width: 0.75em;
    height: 0.75em;
}

.modal__close:hover {
    background: #9E00FF;
    border-color: #9E00FF;
}

.modal__input {
    width: 45%;
    height: 1.4em;
    padding: 0.4em 0;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    gap: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.4em;
    font-family: "Raleway";
    color: rgba(0, 0, 0, 0.3);
}

.modal__input--textarea {
    width: 55%;
    resize: none;
    margin: 0;
    padding: 0.6em 0 0 0;
    border: none;
}

.modal__input--complete {
    resize: none;
    font-size: 1.25em;
    margin: 0.4em 0 0.4em 1.5em;
}

.modal__file {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

.add-modal__file {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 11.5em;
    height: 1.2em;
    gap: 0.5em;
    background: #000;
    padding: 0.3em 0.4em;
    color: #FFF;
    border-radius: 0.4em;
    cursor: pointer;
}

.add-modal__file p {
    margin: 0;
}

.add-modal__file input {
    display: none;
}

.modal__trigger {
    width: 1.8em;
    height: 1.8em;
    background: #FF004C;
    border-radius: 0.4em;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal__trigger.show {
    display: -ms-flexbox;
    display: flex;
}

.modal__choose {
    width: 100%;
    height: 5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal__check {
    width: 1em;
    height: 1em;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 0.8em;
    padding: 0.6em 1.6em;
    background: #000;
    color: #FFF;
    line-height: 23.48px;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    gap: 0.5em;
    transition: 0.15s ease;
}

.btn--welcome {
    padding: 0.6em 1.6em;
}

.btn--test {
    gap: 0.45em;
}

.btn:hover {
    background: #9E00FF;
}

.btn--subnav {
    padding: 0.6em;
}

.btn--modal {
    width: 100%;
}

.btn--complete {
    padding: 0.5em 1.6em 0.4em;
    background: #FFF;
    border: 2px solid #000;
    color: #000;
}

.btn--complete:hover {
    color: #FFF;
}

.review__btn {
    cursor: pointer;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3;
    width: 5em;
    height: 5em;
    right: 0.75em;
    background: #FFF;
    border-radius: 1.6em;
    box-shadow: 0 1.2em 1.75em 0 rgba(158, 0, 255, 0.3);
}

.review__btn--left {
    left: 0.75em;
}

.review__arrow {
    width: 0.8em;
    height: 1.6em;
}

.review__arrow--left {
    rotate: 180deg;
}

.emoji {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0.4em;
    margin: 0.5em 0;
}

.emoji__item {
    background: #FFF;
    padding: 0.4em 0.8em;
    gap: 0.8em;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.1em;
}

.title {
    font-family: "Neue Machina";
    font-weight: 700;
    font-size: 96px;
    line-height: 92.64px;
}

.title--test {
    font-size: 72px;
    line-height: 69.48px;
}

.title--modal {
    font-size: 55px;
    line-height: 50px;
}

.p {
    width: 65%;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.48px;
    text-align: center;
}

.p--test {
    text-align: left;
}

.p--modal {
    width: 90%;
}

.p--list {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 700;
    color: #FFF;
    text-align: left;
}

.test {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 5em 0 0 0;
}

.test__list {
    width: 18%;
    height: 2em;
    padding: 0.5em 1.2em;
    background: #000;
    border-radius: 0 1.6em 1.6em 0;
}

.test__list span {
    color: #FFF;
    font-weight: 500;
}

.test__info, .test__complete {
    display: block;
    width: 77%;
    background: #FFF;
    border-radius: 1.6em;
}

.test__info p, .test__complete p {
    width: 60%;
}

.test__info .title, .test__info .p, .test__info .test__type, .test__info .btn, .test__complete .title, .test__complete .p, .test__complete .test__type, .test__complete .btn {
    margin: 3.2rem 0 3.2rem 3.2rem;
}

.test__complete {
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
}

.test__complete select {
    width: 14.75em;
    height: 2.35em;
    margin: 0.5em 0 0 1.5em;
    border: 2px solid #000;
    border-radius: 0.8em;
}

.test__type {
    width: 95%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0.4em;
}

.test__choose {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.test__sign {
    display: none;
    width: 0.75em;
    height: 0.75em;
    background: #FFF;
    border: 2px solid #000;
    border-radius: 50%;
}

.test__sign.show {
    display: block;
}

.review {
    position: relative;
    max-width: 70em;
    width: 100%;
    height: 30em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.review__slider {
    width: 90em;
    height: 100%;
    left: -9em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.review__item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 17.5em;
    height: 23.25em;
    padding: 0 0.4em;
}

.review__item .review__bg {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.6em;
    gap: 1em;
}

.review__info {
    position: absolute;
    background: #FFF;
    border-radius: 1.2em;
    gap: 0.8em;
    text-align: center;
    width: 92%;
    bottom: 0.35em;
}

.review__info .review__ava {
    position: relative;
    margin-top: -2.25em;
    width: 4em;
    border: 5px solid #FFF;
    border-radius: 50%;
}

.review__info h1 {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    line-height: 1.4em;
}

.review__info p {
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1em;
    text-align: left;
    margin: 1em;
}

footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 12.65em;
    background: #000;
    color: #FFF;
    border-radius: 1.6em 1.6em 0 0;
}

.footer__contact {
    width: 83%;
    height: 10em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 0.5em;
}

.footer__info {
    width: 95%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer__item a {
    cursor: pointer;
    color: #FFF;
    text-decoration: underline;
    font-family: "Neue Machina";
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1.3em;
}

.footer__social {
    width: 95%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer__icon {
    width: 17em;
    height: 3.5em;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 9999px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    mix-blend-mode: lighten;
    cursor: pointer;
}

.footer__icon img {
    width: 2.5em;
}

.footer__icon--vk {
    background: rgb(77, 118, 161);
}

.footer__icon--tg {
    background: rgb(52, 170, 223);
}

.footer__logo {
    width: 17%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 1.6em;
    font-family: "Neue Machina";
    font-weight: 700;
    line-height: 1.5em;
}
